In [1]:
import pandas as pd
import numpy as np

In [2]:
def get_stability(path1, path2):
    stability_score = pd.read_csv(path1, skiprows=4)
    stability_score.drop(columns=['Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971',
                                  '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
                                  '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
                                  '2006', '2007', '2008', '2009', '2010', "2011", "2012", "2013", "2014", "2015", "2016", 'Unnamed: 67'], inplace = True)
    mean_stability= []
    for index, rows in stability_score.iterrows():
        mean_stability.append(np.nanmean([rows["2017"], rows["2018"], rows["2019"], rows["2020"], rows["2021"], rows["2022"]]))
    stability_score["mean_stability"] = mean_stability
    stability_score.drop(columns=["2017", "2018", "2019", "2020", "2021", "2022"], inplace = True)
    
    country_codes = pd.read_csv(path2)
    country_codes.drop(columns=["SpecialNotes", "Unnamed: 5", "TableName"], inplace = True)
    stability = stability_score.merge(country_codes, how="left", on="Country Code")
    stability.dropna(subset = "Region", inplace=True)
    
    return stability

In [3]:
stability = get_stability("../data/charactCountry/stability/global_bank_rank.csv", "../data/charactCountry/stability/Metadata_Country.csv")

C:\Users\gdcma\AppData\Local\Temp\ipykernel_9012\1361562052.py:9: RuntimeWarning: Mean of empty slice
  mean_stability.append(np.nanmean([rows["2017"], rows["2018"], rows["2019"], rows["2020"], rows["2021"], rows["2022"]]))

In [4]:
stability.sample()

    Country Name Country Code  mean_stability      Region          IncomeGroup
152     Maldives          MDV             NaN  South Asia  Upper middle income

In [5]:
list_paths_WB = ["../data/charactCountry/equality/rule_law.csv", "../data/charactCountry/equality/female_seats.csv",
                 "../data/charactCountry/equality/voice.csv", "../data/charactCountry/gdp/global_bank_gdp.csv",
                 "../data/charactCountry/education/global_bank_children_out.csv",
                 "../data/charactCountry/education/global_bank_edExpenditure.csv", 
                 "../data/charactCountry/education/literacy.csv", "../data/charactCountry/health/ARV_coverage.csv",
                 "../data/charactCountry/health/health_exp.csv", "../data/charactCountry/health/UHC_coverage.csv"]
column_names = {
    "feature_1": "mean_law",
    "feature_2": "mean_female_seats",
    "feature_3": "mean_voice",
    "feature_4": "mean_gdp",
    "feature_5": "mean_children_out",
    "feature_6": "mean_ed_exp",
    "feature_7": "mean_literacy",
    "feature_8": "mean_ARV_coverage",
    "feature_9": "mean_healt_exp",
    "feature_10": "mean_UHC_coverage",
}

In [6]:
def get_WB_features(paths, df, names, j = 0):
    for i in paths:       
        j += 1
        feature = pd.read_csv(i, skiprows=4)
        feature.drop(columns=['Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973',
                          '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
                          '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
                          '2010', "2011", "2012", "2013", "2014", "2015", "2016", 'Unnamed: 67'], inplace = True)
        mean = []
        for index, rows in feature.iterrows():
            mean.append(np.nanmean([rows["2017"], rows["2018"], rows["2019"], rows["2020"], rows["2021"], rows["2022"]]))
        feature.drop(columns=["2017", "2018", "2019", "2020", "2021", "2022"], inplace = True)
        df["Country Code"] = feature["Country Code"]
        df[f"feature_{j}"] = mean
    df.rename(columns=names, inplace=True)
    return df

In [7]:
df = get_WB_features(list_paths_WB, pd.DataFrame(), column_names)
df

C:\Users\gdcma\AppData\Local\Temp\ipykernel_9012\3471262545.py:11: RuntimeWarning: Mean of empty slice
  mean.append(np.nanmean([rows["2017"], rows["2018"], rows["2019"], rows["2020"], rows["2021"], rows["2022"]]))
C:\Users\gdcma\AppData\Local\Temp\ipykernel_9012\3471262545.py:11: RuntimeWarning: Mean of empty slice
  mean.append(np.nanmean([rows["2017"], rows["2018"], rows["2019"], rows["2020"], rows["2021"], rows["2022"]]))
C:\Users\gdcma\AppData\Local\Temp\ipykernel_9012\3471262545.py:11: RuntimeWarning: Mean of empty slice
  mean.append(np.nanmean([rows["2017"], rows["2018"], rows["2019"], rows["2020"], rows["2021"], rows["2022"]]))
C:\Users\gdcma\AppData\Local\Temp\ipykernel_9012\3471262545.py:11: RuntimeWarning: Mean of empty slice
  mean.append(np.nanmean([rows["2017"], rows["2018"], rows["2019"], rows["2020"], rows["2021"], rows["2022"]]))
C:\Users\gdcma\AppData\Local\Temp\ipykernel_9012\3471262545.py:11: RuntimeWarning: Mean of empty slice
  mean.append(np.nanmean([rows["2017"], rows["2018"], rows["2019"], rows["2020"], rows["2021"], rows["2022"]]))
C:\Users\gdcma\AppData\Local\Temp\ipykernel_9012\3471262545.py:11: RuntimeWarning: Mean of empty slice
  mean.append(np.nanmean([rows["2017"], rows["2018"], rows["2019"], rows["2020"], rows["2021"], rows["2022"]]))
C:\Users\gdcma\AppData\Local\Temp\ipykernel_9012\3471262545.py:11: RuntimeWarning: Mean of empty slice
  mean.append(np.nanmean([rows["2017"], rows["2018"], rows["2019"], rows["2020"], rows["2021"], rows["2022"]]))
C:\Users\gdcma\AppData\Local\Temp\ipykernel_9012\3471262545.py:11: RuntimeWarning: Mean of empty slice
  mean.append(np.nanmean([rows["2017"], rows["2018"], rows["2019"], rows["2020"], rows["2021"], rows["2022"]]))
C:\Users\gdcma\AppData\Local\Temp\ipykernel_9012\3471262545.py:11: RuntimeWarning: Mean of empty slice
  mean.append(np.nanmean([rows["2017"], rows["2018"], rows["2019"], rows["2020"], rows["2021"], rows["2022"]]))
C:\Users\gdcma\AppData\Local\Temp\ipykernel_9012\3471262545.py:11: RuntimeWarning: Mean of empty slice
  mean.append(np.nanmean([rows["2017"], rows["2018"], rows["2019"], rows["2020"], rows["2021"], rows["2022"]]))

,Country Code,mean_law,mean_female_seats,mean_voice,mean_gdp,mean_children_out,mean_ed_exp,mean_literacy,mean_ARV_coverage,mean_healt_exp,mean_UHC_coverage
0,ABW,86.528152,NaN,87.891872,3.100044e+09,NaN,NaN,97.989998,NaN,NaN,NaN
1,AFE,NaN,29.646487,NaN,1.034691e+12,NaN,2.253868,72.167308,74.366859,5.861157,NaN
2,AFG,3.880653,27.402988,15.546746,1.818926e+10,NaN,4.343190,37.266041,10.800000,14.804046,41.333333
3,AFW,NaN,16.558130,NaN,7.972077e+11,NaN,3.205121,59.255089,60.692971,3.589554,NaN
4,AGO,16.323749,30.681818,23.748568,7.311921e+10,NaN,2.326479,72.400002,31.800000,2.737599,38.666667
...,...,...,...,...,...,...,...,...,...,...,...
261,XKX,39.143457,NaN,41.472055,8.252934e+09,NaN,NaN,NaN,NaN,NaN,NaN
262,YEM,2.457323,0.110742,4.609950,2.422420e+10,NaN,NaN,NaN,28.400000,NaN,41.666667
263,ZAF,49.517070,45.127452,69.279613,3.894406e+11,8.367808,6.016547,90.690333,71.600000,8.216473,71.000000
264,ZMB,34.550763,16.796527,36.780394,2.425609e+10,14.445050,3.921051,87.500000,81.200000,5.098673,54.333333
265,ZWE,8.315364,31.696472,17.211034,2.402203e+10,14.861635,3.934635,89.849998,86.000000,4.529838,55.666667

In [8]:
def merge_WB(df1, df2):
    df3 = df1.merge(df2)
    return df3

In [9]:
merge_WB(stability, df)

,Country Name,Country Code,mean_stability,Region,IncomeGroup,mean_law,mean_female_seats,mean_voice,mean_gdp,mean_children_out,mean_ed_exp,mean_literacy,mean_ARV_coverage,mean_healt_exp,mean_UHC_coverage
0,Aruba,ABW,NaN,Latin America & Caribbean,High income,86.528152,NaN,87.891872,3.100044e+09,NaN,NaN,97.989998,NaN,NaN,NaN
1,Afghanistan,AFG,10.8,South Asia,Low income,3.880653,27.402988,15.546746,1.818926e+10,NaN,4.343190,37.266041,10.8,14.804046,41.333333
2,Angola,AGO,31.8,Sub-Saharan Africa,Lower middle income,16.323749,30.681818,23.748568,7.311921e+10,NaN,2.326479,72.400002,31.8,2.737599,38.666667
3,Albania,ALB,47.6,Europe & Central Asia,Upper middle income,40.560048,31.026542,52.149485,1.592556e+10,4.041500,3.422725,98.500000,47.6,6.602817,63.000000
4,Andorra,AND,NaN,Europe & Central Asia,High income,91.522910,41.666667,83.838057,3.156985e+09,7.659917,2.953464,NaN,NaN,7.763105,77.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Kosovo,XKX,NaN,Europe & Central Asia,Upper middle income,39.143457,NaN,41.472055,8.252934e+09,NaN,NaN,NaN,NaN,NaN,NaN
213,"Yemen, Rep.",YEM,28.4,Middle East & North Africa,Low income,2.457323,0.110742,4.609950,2.422420e+10,NaN,NaN,NaN,28.4,NaN,41.666667
214,South Africa,ZAF,71.6,Sub-Saharan Africa,Upper middle income,49.517070,45.127452,69.279613,3.894406e+11,8.367808,6.016547,90.690333,71.6,8.216473,71.000000
215,Zambia,ZMB,81.2,Sub-Saharan Africa,Lower middle income,34.550763,16.796527,36.780394,2.425609e+10,14.445050,3.921051,87.500000,81.2,5.098673,54.333333
216,Zimbabwe,ZWE,86.0,Sub-Saharan Africa,Lower middle income,8.315364,31.696472,17.211034,2.402203e+10,14.861635,3.934635,89.849998,86.0,4.529838,55.666667